body {
  background-color: #0f1319;
  margin: 0;
  color: #fcfcfc;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

.name,
.subtitle {
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;

  animation-duration: 4s;
  animation-name: bar;
  transition: all 1s;
}

.name:hover,
.subtitle:hover {
  background-size: 0 0.1em, 100% 0.1em;
}

.profile {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.content {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content .header {
  font-size: 5rem;
  /* font-size: 5vw; */
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}

.content .about-me,
.content .aux {
  font-size: 1.5rem;
  /* font-size: 1.9vw; */
  font-family: "Source Code Pro", monospace;
}

.aux {
  margin-right: 0.5rem;
}

.about-me::after {
  content: "";
  border-left: 2px solid #fc6d6d;
  animation: typing 0.35s steps(10) infinite;
}

.center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 3.75rem;
  border-radius: 25px;
}

.skills-container {
  padding: 0 8rem;
  /* max-width: 100.9636%; */
  margin: 0;
  margin-bottom: 10rem;
}

.card {
  /* min-width: 15vw; */
  /* width: 15vw; */

  height: 6rem;
  border-radius: 20px;
  background-color: #212529;
  /* margin: 1.5rem 1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: none; */
  /* text-align: center; */
  /* padding-bottom: 0.5vh; */
  font-family: "Roboto", sans-serif;
  /* margin: 4vh 1vw; */
}

.card h1 {
  font-size: 1.75rem;
}

.card img {
  position: absolute;
  width: 2.75rem;
  top: -1.75rem;
}

.card .java {
  width: 2.35rem;
}

.card .sql {
  width: 3.25rem;
}

.card .django {
  width: 5.5rem;
}

.card .docker {
  width: 3.75rem;
}

.card .cicd {
  width: 4.5rem;
}

.card .iot {
  width: 3.7rem;
}

footer {
  margin-bottom: 5rem;
}

footer img {
  width: 12rem;
  margin-bottom: 3rem;
}

footer .fa,
footer .fab {
  background-color: #fcfcfc;
  color: #0f1319;
  margin: 0 0.5rem;
  padding: 1rem;
  font-size: 2.25rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

@keyframes bar {
  0% {
    background-size: 100% 0.1em, 0 0.1em;
  }
  50% {
    background-size: 0 0.1em, 100% 0.1em;
  }
  100% {
    background-size: 100% 0.1em, 0 0.1em;
  }
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 767px) {
  .content .header {
    font-size: 3rem;
  }

  .content .about-me,
  .content .aux {
    font-size: 1rem;
  }

  .subtitle {
    font-size: 2.75rem;
  }
  .skills-container {
    /* max-width: 100.9636%; */
    padding: 0 4rem;
  }

  footer img {
    width: 8rem;
  }

  footer .fa,
  footer .fab {
    font-size: 1.12rem;
    margin-bottom: 1rem;
  }
}
